# **Activity 6.01 – Series data selection**

1. For this activity, all you will need is the pandas library. Load it into the first cell of
the notebook.
2. Read in a pandas Series from the US_Census_SUB-IP-EST2019-
ANNRNK_top_20_2010.csv file. This data is from the US Census Bureau
(source: https://www2.census.gov/programs-surveys/popest/
datasets/2010/2010-eval-estimates/). The city names are in the first
column, so read them so that they are used as the indexes. List the resulting Series.
3. Calculate the total population of the three largest cities in the 2010 Series (New
York, Los Angeles, and Chicago) and save the result in a variable.
4. Read in the corresponding data for 2019 from the US_Census_SUB-IP-
EST2019-ANNRNK_top_20_2019.csv file, again using the first column as the index and reading the data into a Series. This data is from the US Census Bureau (source: https://www2.census.gov/programs-surveys/popest/
tables/2010-2019/cities/totals/).
5. Calculate the total population for the same three cities in the 2019 Series and save
the result in a variable.
6. Using the saved values, calculate the percent change from 2010 to 2019 for the three
cities. Also, calculate the percent change for all the cities. Print out a comparison of
the changes for the three cities versus all cities.

In [ ]:
import pandas as pd

In [ ]:
!wget https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter06/Datasets/US_Census_SUB-IP-EST2019-ANNRNK_top_20_2010.csv

--2023-06-15 12:26:51--  https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter06/Datasets/US_Census_SUB-IP-EST2019-ANNRNK_top_20_2010.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 368 [text/plain]
Saving to: ‘US_Census_SUB-IP-EST2019-ANNRNK_top_20_2010.csv’

US_Census_SUB-IP-ES 100%[===================>]     368  --.-KB/s    in 0s

2023-06-15 12:26:52 (15.4 MB/s) - ‘US_Census_SUB-IP-EST2019-ANNRNK_top_20_2010.csv’ saved [368/368]

In [ ]:
!wget https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter06/Datasets/US_Census_SUB-IP-EST2019-ANNRNK_top_20_2019.csv

--2023-06-15 12:27:10--  https://raw.githubusercontent.com/PacktWorkshops/The-Pandas-Workshop/master/Chapter06/Datasets/US_Census_SUB-IP-EST2019-ANNRNK_top_20_2019.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 369 [text/plain]
Saving to: ‘US_Census_SUB-IP-EST2019-ANNRNK_top_20_2019.csv’

US_Census_SUB-IP-ES 100%[===================>]     369  --.-KB/s    in 0s

2023-06-15 12:27:10 (26.2 MB/s) - ‘US_Census_SUB-IP-EST2019-ANNRNK_top_20_2019.csv’ saved [369/369]

In [ ]:
data2010 = pd.read_csv('US_Census_SUB-IP-EST2019-ANNRNK_top_20_2010.csv',
                       index_col=[0],squeeze=True)

<ipython-input-11-3e136eaa9a1f>:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  data2010 = pd.read_csv('US_Census_SUB-IP-EST2019-ANNRNK_top_20_2010.csv',

In [ ]:
data2010

City
New York                8190209
Los Angeles             3795512
Chicago                 2697477
Houston                 2100280
Phoenix                 1449038
Philadelphia            1528283
San Antonio             1332299
San Diego               1305906
Dallas                  1200350
San Jose                 954940
Austin                   806164
Jacksonville             823114
Fort Worth               748441
Columbus                 790943
Charlotte                738444
San Francisco            805505
Indianapolis             821579
Seattle                  610630
Denver                   603359
District of Columbia     605226
Name: 2010, dtype: int64

3. Calculate the total population of the three largest cities in the 2010 Series (New York, Los Angeles, and Chicago) and save the result in a variable.

In [ ]:
top3_2010 = data2010['New York'] + data2010['Los Angeles'] + data2010['Chicago']

In [ ]:
# top3_2010_2 = sum(data2010[['New York', 'Los Angeles', 'Chicago']])
# top3_2010_2

14683198

In [ ]:
top3_2010

14683198

4. Read in the corresponding data for 2019 from the US_Census_SUB-IP-
EST2019-ANNRNK_top_20_2019.csv file, again using the first column as the index and reading the data into a Series.

In [ ]:
data2019 = pd.read_csv('US_Census_SUB-IP-EST2019-ANNRNK_top_20_2019.csv',
                       index_col=[0],squeeze=True)

<ipython-input-17-9d878eedf9eb>:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  data2019 = pd.read_csv('US_Census_SUB-IP-EST2019-ANNRNK_top_20_2019.csv',

In [ ]:
data2019

City
New York                8336817
Los Angeles             3979576
Chicago                 2693976
Houston                 2320268
Phoenix                 1680992
Philadelphia            1584064
San Antonio             1547253
San Diego               1423851
Dallas                  1343573
San Jose                1021795
Austin                   978908
Jacksonville             911507
Fort Worth               909585
Columbus                 898553
Charlotte                885708
San Francisco            881549
Indianapolis             876384
Seattle                  753675
Denver                   727211
District of Columbia     705749
Name: 2019, dtype: int64

5. Calculate the total population for the same three cities in the 2019 Series and save
the result in a variable.

In [ ]:
top3_2019 = data2019['New York'] + data2019['Los Angeles'] + data2019['Chicago']
top3_2019

15010369

6. Using the saved values, calculate the percent change from 2010 to 2019 for the three
cities. Also, calculate the percent change for all the cities. Print out a comparison of
the changes for the three cities versus all cities.

In [ ]:
top3_change = ((top3_2019 - top3_2010) * 100) / top3_2010
top3_change

2.2281998785278248

In [ ]:
total_change = (sum(data2019 - data2010) * 100) / sum(data2010)
total_change

8.00212826377734

In [ ]:
print('top 3 changed: ' + str(round(top3_change, 1)) + '%')
print('vs. all changed: ' + str(round(total_change, 1)) + '%')

top 3 changed: 2.2%
vs. all changed: 8.0%